
/*rules that apply to entire file */
html {
	width: 100%;
	height: 100%; 
}

body {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%; 
	margin: 0 auto;
}


body p {
	text-align: center;
	font-weight: bold;
}

a {
	color: white;
	font-size: 140%;
	text-decoration: none;
}

h2 {
	color: black;
}

li {
	color: black;
}

a:hover {
	color: fuchsia;
}

div {
	border-radius: 21px;
	background-color: skyblue;
	border: 4px solid black;
	opacity: 0.9;
} 


.wrapper {
	/* position: relative; */
	height: 100%;
	width: 100%;
	border: hidden;
	background-color: white;
} 


/* navigation menu */ 
nav {
	position: fixed;
	width: 100%;
	background-color: mediumseagreen;
	height: 4em;
	z-index: 10;
}

.nav_menu li {
	list-style-type: none;
	float: left;
	overflow: hidden;
	padding: 7px;
} 

nav a {
	color: whitesmoke;
	font-size: 130%;
	text-decoration: none;
}

.nav_menu a:link {
	text-align: center;
} 

/*homepage link*/ 
#homepage {
	float: right; 
	font-weight: normal;
	margin-right: 2%;
	margin-top: 1%;
	border: none;
}	
#homepage:hover {
	color: fuchsia;
} 


/* centerpiece */ 
.centerpiece {
	position: relative; /* have to have this to do top, bottom, left, right, etc. */ 
	top: 40%;
	height: 15%;
	width: 27%;
	margin-left: auto;
	margin-right: auto; 
}

.centerpiece p {
	margin-left: auto;
	margin-right: auto;
	text-align: center; 

}

.centerpiece span {
	color: crimson;
}

#hello {
	font-size: 140%;
}

.neg_spacing {
	margin-top: -15px;
}

/* background image */
.background {
	position: fixed;
	background-image: url("http://i.imgur.com/MWJvfTk.jpg");
	background-size: cover;
	height: 88%; 
	width: inherit;
	opacity: 0.95;
	border-radius: none;
	border: hidden;

}	

/*About me Page */
#selfie {
	position: relative;
	display: block;
	top: 14%;
	margin: 0 auto;
	height: 30%; 
	border-radius: 30px;
	margin: 0 auto;
	opacity: 0.9;
	border: 4px solid white;
	
}

/*div below my picture */
.who_am_i {
	position: relative;
	top: 18%;
	margin: 0 auto;
	height: 35%;
	width: 20%;
	
}

.who_am_i hr {
	width: 40%;
	color: white; 
}

.who_am_i p {
	font-weight: bolder;
}

#UNC_CS {
	margin-bottom: -9px;
}

#UNC_CS span {
	color:dodgerblue;
}


#myName {
	font-size: 1.7em;
	text-shadow: 1px 1px 1px black;
}


/*Portfolio Page */
#portfolio {
	position: relative;
	opacity: 0.9;
	top: 16%;
	margin: 0 auto;
	width: 50%;
	padding: 0px 0px 30px 30px;

}

#portfolio h2 {
	text-align: center;
	text-decoration: underline;
}

#portfolio p {
	/* color: black; */
	text-align: left;
}

#cgol {
	font-weight: bolder;
	color: green;
	font-size: 100%;
}

#cgol:hover {
	color: fuchsia;
}

/*Coursework Page */
#courses {
	position: relative;
	opacity: 0.9;
	top: 30%;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	padding: 10px 10px 20px 30px;

}

#courses h2 {
	text-align: center;
	margin: 5px;
	text-decoration: underline;
}

/*Social Page */
#social_media h2 {
	text-align: center;
	text-decoration: underline;
}

#social_media {
	position: relative;
	width: 60%;
	opacity: 0.9;
	top: 31%;
	margin: 0 auto;
}

#social_media a {
	font-size: 130%;
	text-align: center; 
	color: black;
}
#social_media a:hover {
	color: fuchsia;
}

/* bottom table */
table {
	position: fixed;
	width: 100%;
	height: 15%;
	margin-top: -16px; 
	top: 88.5%;
	border-collapse: collapse;	
	background-color: mediumseagreen;
	color: white;	

}

td {
	width: 33%;
	border: thin solid deepskyblue;
	text-align: center;
}

td h3 {
	text-align: center;
	display: inline;
}  

td a {
	font-size: 100%;
	font-weight: bolder;
}

td p {
	display: inline;
	padding: 0px;
	font-size: 14px;
}

h4 a:hover {
	color: fuchsia;
}

/*responding to smaller (mobile) screen sizes */
/*iPhone 4 */
@media only screen and (min-width: 310px) and (min-height: 450px) {

	.nav_menu a, #homepage { 
		font-size: 60%;
	}
	
	#homepage {
		margin-top: 2.5%;
	}

	#hello {
		font-size: 70%;
	}

	/*about me page */
	#selfie {
		top: 16%;
		height: 25%;
	}

	.who_am_i {
		width: 35%;
	}

	#myName {
		font-size: 90%;
	}

	#UNC_CS, #engineer {
		font-size: 60%;
	}

	.who_am_i p {
		font-size: 60%;
		padding-top: 3%;
	}
	
	/*portfolio page */
	#portfolio h2, p, li {
		font-size: 50%;
	}

	#portfolio {
		padding-right: 4%;
	}

	/*courses page */
	#courses h2 {
		font-size: 60%;
	}

	/*social media page*/
	#social_media h2 {
		font-size: 80%;
	}
	#social_media img {
		height: 15px;
		width: 15px;
	}
	
	.centerpiece {
		padding-top: 3%;
		 width: 30%; 
	}
	
	.centerpiece p {
		margin: 5px;
		font-size: 60%;
	}

	table h3 {
		font-size: 50%;
	}

	table p {
		font-size: 50%;
	}

	table a {
		font-size: 50%;
	}

}

/*iPhone 5 */ 
@media only screen and (min-width: 320px) and (min-height: 550px) {
	.nav_menu a, #homepage { 
		font-size: 120%;
	}

	/*about me page */
	.who_am_i {
		height: 30%;
	}
	
	#homepage {
		margin-top: 2.5%;
	}

	#hello {
		font-size: 70%;
	}
	
	/*portfolio page */
	#portfolio h2, p, li {
		font-size: 50%;
	}

	#portfolio {
		padding-right: 4%;
	}

	/*courses page */
	#courses h2 {
		font-size: 60%;
	}

	/*social media page*/
	#social_media h2 {
		font-size: 75%;
	}

	#social_media img {
		height: 18px;
		width: 18px;
	}
	
	.centerpiece {
		padding-top: 3%;
		 width: 30%; 
	}
	
	.centerpiece p {
		margin: 5px;
		font-size: 60%;
	}

	table h3 {
		font-size: 60%;
	}

	table p {
		font-size: 60%;
	}

	table a {
		font-size: 60%;
	}

}

/*iPhone 6 */
@media only screen and (min-width: 350px) and (min-height: 600px) {
	.nav_menu a, #homepage { 
		font-size: 120%;
	}
	#hello {
		font-size: 95%;
	}

	/*about me page */
	.who_am_i {
		height: 30%;
	}
	
	#homepage {
		margin-top: 2.5%;
	}

	#myName {
		font-size: 100%;
	}

	#UNC_CS, #engineer {
		font-size: 70%;
		padding-left: 5px;
		padding-right: 5px;
	}


	/*courses page */
	#courses h2 {
		font-size: 60%;
	}

	/*social media page*/
	#social_media h2 {
		font-size: 85%;
	}

	#social_media img {
		height: 20px;
		width: 20px;
	}
	
	.centerpiece {
		padding-top: 3%;
		width: 40%;
	}
	
	.centerpiece p {
		margin: 5px;
		font-size: 70%;
	}

	table h3 {
		font-size: 70%;
	}

	table p {
		font-size: 70%;
	}

	table a {
		font-size: 70%;
	}
}	

/*iPhone 6 plus */
@media only screen and (min-width: 410px) and (min-height: 730px) {
	.nav_menu a { 
		font-size: 130%;
	}
	#hello {
		font-size: 90%;
	}


	/*about me page */
	.who_am_i {
		height: 30%;
	}

	#myName {
		font-size: 110%;
	}

	.who_am_i p {
		font-size: 80%;
	}
	

	#UNC_CS, #engineer {
		font-size: 90%;
		padding-left:5px;
		padding-right:5px;
	}


	/*portfolio page */
	#portfolio h2, p, li {
		font-size: 60%;
	}

	/*courses page */
	#courses h2 {
		font-size: 60%;
	}

	/*social media page*/
	#social_media h2 {
		font-size: 85%;
	}

	#social_media img {
		height: 20px;
		width: 20px;
	}
	
	
	.centerpiece p {
		font-size: 80%;
	}

	table h3 {
		font-size: 80%;
	}

	table p {
		font-size: 80%;
	}

	table a {
		font-size: 80%;
	}

}	

/*laptops and beyond */
@media all and (min-device-width: 1000px) and (min-device-height: 700px) {
	.nav_menu a { 
		font-size: 130%;
	}
	#UNC_2018 {
		margin-top: 5%;
	}

	#hello {
		padding: 0px;
		font-size: 140%;
	}
	/*about me page */
	#selfie {
		top: 16%;
		height: 25%;
	}

	.who_am_i {
		width: 35%;
	}

	#myName {
		font-size: 150%;
	}

	#UNC_CS, #engineer {
		font-size: 120%;
	}
	.who_am_i p {
		font-size: 100%;
		padding: 0px;

	}
	


	#homepage {
		margin-top: 1%;
	}

	/*portfolio page */
	#portfolio h2, p, li {
		font-size: 100%;
	}

	/*courses page */
	#courses h2 {
		font-size: 100%;
	}

	/*social media page*/
	#social_media h2 {
		font-size: 140%;
	}

	#social_media img {
		height: 25px;
		width: 25px;
	}
	
	.centerpiece p {
		font-size: 100%;
	}

	table h3 {
		font-size: 100%;
	}

	table p {
		font-size: 100%;
	}

	table a {
		font-size: 100%;
	} 

	#homepage {
		font-size: 140%;
	}
	
}

/* @media all and (max-height: 450px) {
	#hello {
		font-size: 85%;
	}
	.centerpiece p {
		margin: 5px;
		font-size: 85%;
	}
}

@media all and (min-height: 450px) and (max-height: 480px) {
	#hello {
		font-size: 90%;
	} 

	.centerpiece p {
		font-size: 90%;
		margin: 5px;
	}
}

@media all and (min-height: 480px) and (max-height: 670px) {

	#hello {
		font-size: 95%;
	} 

	.centerpiece p {
		font-size: 95%;
		margin: 15px;
	}

	/* .centerpiece {
		padding: 15px;
	} 

	
} */ 
















